@font-face {
    font-family: "Consolas";
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Consolas";
    font-weight: 700;
    font-style: normal;
}

